/classManagerEA/MyDB.mv.db
/classManagerEA/MyDB.trace.db
/classManagerEA/target/**
/classManagerEA/h2-1.4.190.jar
/.DS_Store
/classManagerEA/.DS_Store
/classManagerEA/target/classes/META-INF/maven/it.unical/classmanager/pom.properties
