<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginCheckerFilter</display-name>
    <filter-name>LoginCheckerFilter</filter-name>
    <filter-class>it.unical.classmanager.filters.LoginCheckerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheckerFilter</filter-name>
    <url-pattern>/forum/*</url-pattern>
    <url-pattern>/calendar/*</url-pattern>
    <url-pattern>/noticeboard/*</url-pattern>
    <url-pattern>/newnotice/*</url-pattern>
    <url-pattern>/deletenotice/*</url-pattern>
    <url-pattern>/userslist/*</url-pattern>
    <url-pattern>/searchusers/*</url-pattern>
    <url-pattern>/edituser/*</url-pattern>
    <url-pattern>/sort/*</url-pattern>
    <url-pattern>/blackboard/*</url-pattern>
    <url-pattern>/editor/*</url-pattern>
    <url-pattern>/lecture/*</url-pattern>
    <url-pattern>/scores/*</url-pattern>
    <url-pattern>/getNewNotifications</url-pattern>
    <url-pattern>/getOldNotifications</url-pattern>
    <url-pattern>/setNoficationRead</url-pattern>
    <url-pattern>/selectCourse</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ProfessorCheckerFilter</display-name>
    <filter-name>ProfessorCheckerFilter</filter-name>
    <filter-class>it.unical.classmanager.filters.ProfessorCheckerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ProfessorCheckerFilter</filter-name>
    <url-pattern>/lectures/update_lecture</url-pattern>
    <url-pattern>/lectures/delete_lecture</url-pattern>
    <url-pattern>/lectures/upload_materials</url-pattern>
    <url-pattern>/lectures/delete_materials</url-pattern>
    <url-pattern>/lectures/update_homeworks</url-pattern>
    <url-pattern>/lectures/delete_homeworks</url-pattern>
    <url-pattern>/scores</url-pattern>
    <url-pattern>/update_scores</url-pattern>
    <url-pattern>/create_Partecipation</url-pattern>
    <url-pattern>/update_Partecipation</url-pattern>
    <url-pattern>/view_attendance</url-pattern>
	<url-pattern>/attendance</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>it.unical.classmanager.websocket.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ClearSession</display-name>
    <filter-name>ClearSession</filter-name>
    <filter-class>it.unical.classmanager.filters.ClearSession</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ClearSession</filter-name>
    <url-pattern>/courses</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>XSSFilter</display-name>
    <filter-name>XSSFilter</filter-name>
    <filter-class>it.unical.classmanager.filters.XSSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>XSSFilter</filter-name>
    <url-pattern>/forum/*</url-pattern>
  </filter-mapping>
</web-app>